# Prohibits unsatisfied peer dependencies
# see https://pnpm.io/npmrc#strict-peer-dependencies
strict-peer-dependencies = true

tag-version-prefix = v

# The "@go-task/cli" package uses the "postinstall" script to install the task command.
# However, pnpm v7 will not run the "postinstall" script if the dependency is already cached.
# Set this to "false" to always run the "postinstall" script.
# see https://github.com/pnpm/pnpm/issues/4649
side-effects-cache = false
